<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Homework" value="~/Homework/"/>
	</appSettings>
	<connectionStrings>
		<!-- 
      设置remove清除根目录继承下来的connectionString设置
      防止虚拟目录中的网站读取根目录下的数据库连接字符串
      也可以直接用clear方法（备忘）
      出错远程信息显示配置<customErrors mode="Off"/> （备忘）
     -->
		<remove name="SqlServer"/>
		<add name="SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=TEACHER-PC\SQLEXPRESS;Initial Catalog=LearnSite;uid=sa;pwd=12345;"/>
	</connectionStrings>
	<system.web>
		<compilation debug="false"/>
		<authentication mode="Windows"/>
		<sessionState mode="InProc" timeout="720"/>
		<httpRuntime maxRequestLength="2048000" executionTimeout="300" enableVersionHeader="false"/>
		<machineKey validation="3DES"/></system.web>
</configuration>
