<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Homework" value="~/homework/"/>
  </appSettings>
  <connectionStrings>
    <!-- 
      请将下面192.168.1.7更改为你的数据库服务器名称或IP地址，这段中的learnsite更改为你创建的数据库名称和Zhou!12345更改为你的数据库密码：
     -->
    <remove name="SqlServer"/>
    <add name="SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.7;Initial Catalog=learnsite;uid=sa;pwd=Zhou!12345;"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Windows"/>
    <sessionState mode="InProc" timeout="720"/>
    <httpRuntime  maxRequestLength="2048000" executionTimeout="300" enableVersionHeader="false"/>
    <machineKey validation="3DES"/>
    <compilation debug="false" />
  </system.web>
<system.webServer>
    <security>
        <requestFiltering>
            <requestLimits maxQueryString="102400" maxAllowedContentLength="102400000"/>
        </requestFiltering>
    </security>
</system.webServer>
</configuration>